@model DetailsViewModel

@{
    ViewBag.Title = Model.Restaurant.Name;
}

    <ul>
        <li>Id: @Model.Restaurant.Id</li>
        <li>Name: @Model.Restaurant.Name</li>
        <li>Cuisine: @Model.Restaurant.Cuisine</li>
    </ul>
    <a asp-action="Index" asp-controller="Home">Home</a>
